.main-area {
  margin-top: 2rem;
  height: min-content;
  width: 100%;
  padding: "3% 2%";
}

.intro-area {
  min-height: 50rem;
  max-height: max-content;
  border-radius: 3px 35px;
}

.text-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  margin-bottom: 6rem;
}
.text-area > p {
  text-align: justify;
  font-size: 1.4rem;
}

.text-area > button:hover {
  background-image: linear-gradient(
    to right,
    #093028 0%,
    #122f23 51%,
    #09211c 100%
  );
  box-shadow: 0 0 100px #202020;
}

.text-area > h1 {
  text-align: left;
  font-size: 3rem;
}

.summary {
  background-color: rgba(220, 229, 226, 0.849);
  border: 1px solid #012801b4;
  border-radius: 5px;
}

.summary-info {
  margin-right: 2rem;
  text-align: center;
  margin: auto;

  -webkit-box-shadow: -36px 0px 76px -5px rgba(0, 102, 56, 1);
  -moz-box-shadow: -36px 0px 76px -5px rgba(0, 102, 56, 1);
  box-shadow: -36px 0px 76px -5px rgba(0, 102, 56, 1);
}

.project-area {
  margin-top: 5rem;
}
