.main-area {
  margin-top: 2rem;
  height: min-content;
  width: 100%;
  padding: "3% 2%";
}

.intro-area {
  min-height: 50rem;
  max-height: max-content;
  border-radius: 3px 35px;
  margin-bottom: 1rem;
}

.text-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  margin-bottom: 6rem;
}
.text-area > p {
  text-align: justify;
  font-size: 1.4rem;
}

.text-area > button {
  width: 50%;
}

.text-area > button:hover {
  background-image: linear-gradient(
    to right,
    #093028 0%,
    #122f23 51%,
    #09211c 100%
  );
  box-shadow: 0 0 100px #202020;
}

.text-area > h1 {
  text-align: left;
  font-size: 3rem;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.stats-container > .card {
  padding: 20px;
  width: 33%;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );
  color: aliceblue;
  border-radius: 0 50px;
  transition: transform 1s;
}

.stats-container > .card:hover {
  transform: scale(1.05);
}

.stats-container > .card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #202020;
}

.stats-container > .card-text {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #202020;
}

.project-area {
  margin-top: 5rem;
}
