.cntBtn {
  padding: 0;
  width: 12rem;
  height: 2.2rem;
  font-family: monospace;
  font-weight: 100;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.after-click {
  width: 14rem;
  height: 2.3rem;
  padding: 1%;
}

.cntBtn > img {
  height: 25px;
  width: 25px;
}

.btn-balance {
  font-size: 0.8rem;
  margin-top: 1rem;
  font-family: monospace;
  margin-right: -1rem;
}

.cntBtn:hover {
  background-image: linear-gradient(
    to right,
    #093028 0%,
    #122f23 51%,
    #09211c 100%
  );
}

.btn-menu {
  width: 11rem;
}

.btn-item {
  text-align: left;
  margin-left: 1rem;
}

.btn-item > a {
  padding: 0.5rem;
  font-size: 0.8rem;
  height: 1rem;
  margin-bottom: 1.5rem;
  color: aliceblue;
}

.btn-item > a:hover {
  background-image: linear-gradient(
    to right,
    #093028 0%,
    #237a57 51%,
    #093028 100%
  );
  opacity: 0.5;
  color: aliceblue;
  transform: scale(0.9);
  background-color: transparent;
}
