.profile-area {
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 75%;
  padding: 5px;
}

.profile-img-container > img {
  display: block;
  border-radius: 50%;
  border: 1px solid #202020;
  width: 150px;
  transform: translateY(-10px);
}

.set-avatar-icon,
.set-avatar-icon:hover {
  position: absolute;
  transform: translateX(-10px) translateY(-20px);
}

.user-info-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
  height: 100%;
}

.user-info-area > h3 {
  font-size: 2rem;
  margin-left: -30px;
  color: #202020;
}

.location-area {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.location-area > p {
  margin-left: 0.5rem;
  font-size: 1rem;
  transform: translateY(2px);
}

.location-area > img {
  width: 32px;
  height: 32px;
}

.public-view-btn-area {
  width: 15rem;
}

.public-view-btn {
  width: 15rem;
  display: none;
}

.public-view-btn:hover {
  background-image: linear-gradient(
    to right,
    #093028 0%,
    #122f23 51%,
    #09211c 100%
  );
}

p > a {
  text-decoration: none;
  color: #202020;
  opacity: 1;
}

p > a:hover {
  color: rgb(1, 85, 141);
  opacity: 0.8;
}

.ml-name {
  transform: translateY(-15px) translateX(50px);
}

@media (min-width: 1000px) {
  .profile-area {
    width: 600px;
  }
  .public-view-btn {
    display: block;
  }
}

@media (max-width: 750px) {
  .user-info-area > h3 {
    margin-left: -55px;
    font-size: 1.2rem;
  }
  .location-area > p {
    margin-left: 0.5rem;
    font-size: 0.8rem;
  }

  .location-area > img {
    width: 20px;
    height: 20px;
  }

  .public-view-btn {
    display: none;
  }
}
