.account-page-area {
  width: 66%;
  margin: auto;
}

.account-area__border {
  border: 1px solid #202020;
  border-radius: 10px;
}

.account-general_profile-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15rem;
  padding: 0 10px;
  margin-top: 2rem;
}

.account-area {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 10px;
  min-height: 50rem;
  margin-bottom: 5rem;
  padding: 5%;
}

.account-summary_info {
  width: 100%;
}
.account_info {
  width: 100%;
}

.create-project-btn {
  margin-top: 2rem;
  width: 100%;
  transition: 0.5s linear;
}

.create-project-btn:hover {
  background-image: linear-gradient(
    to right,
    #093028 0%,
    #122f23 51%,
    #09211c 100%
  );
  transform: scale(0.95);
}

@media (min-width: 1500px) {
  .account-page-area {
    width: 1000px;
  }
}

@media (max-width: 900px) {
  .account-page-area {
    width: 90%;
  }

  .account-area {
    flex-direction: column;
  }
}
