.myBtn {
  background-image: linear-gradient(
    to right,
    #093028 0%,
    #237a57 51%,
    #093028 100%
  );
  margin: 0.4rem;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  display: block;
  border: 2px solid #012a34;
  border-radius: 25px;
}

.myBtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
